@charset "UTF-8";

/* 
Common
*/
body{
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino, Kaku", "Gothic, ProN", "Meiry", sans-serif;
}

.wrapper{
  max-width: 1000px;
  padding: 0 16px;
  margin: auto;
  text-align: center;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

section{
  margin-top: 20px;
}

.cover-fixed{
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.section-title{
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 30px;
}

/* 
Header
*/
#header{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  background-image: url(../images/mainvisual.jpg);
}

nav a{
  color: #fff;
  filter: drop-shadow(2px 2px 2px #333);
  font-weight: bold;
  font-size: 14px;
  transition: .3s;
}

nav li a:hover {
  color: #e03131;
}

nav ul{
  display: flex;
  justify-content: end;
  padding: 20px 30px 30px;
}

nav li{
  margin-right: 30px;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*
MENU
 */
.menu-img{
  background-image: url(../images/menu.jpg);
  position: relative;
}

/*
About
*/
.about-img{
  background-image: url(../images/about.jpg);
  position: relative;
}

/*
Location
*/
.location-img{
  background-image: url(../images/location.jpg);
  position: relative;
}