@charset "UTF-8";

/* 
Common
*/
.wrapper-top{
  width: 100%;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

.wrapper-about,
.wrapper-company{
  max-width: 600px;
}

.wrapper-details{
  max-width: 800px;
}

a{
  text-decoration: none;
  color: #333;
}

li{
  list-style-type: none;
}

/* 
Header
*/
header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 10;
  height: 80px;
  width: 100%;
  left: 0;
  right: 0;
}

#navi{
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  /* opacity: 0; */
}

header img{
  height: 20px;
}

/* 
Products
*/
main{
  width: 100%;
}

#products{
  width: 100%;
  padding-top: 80px;
  margin-bottom: 120px;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.product-list p{
  font-size: 12px;
}

.product-list img{
  width: 100%;
  transition: .75s;
  margin-bottom: 4px;
}

.product-list img:hover{
  opacity: 70%;
}

.view-more{
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

/* Footer */
#footer{
  display: flex;
  justify-content: space-between;
  color: #333;
  margin-bottom: 20px;
}

#footer ul{
  display: flex;
  font-size: 12px;
}

#footer li{
  margin-right: 30px;
}

#footer small{
  font-size: 10px;
}

@media(max-width: 900px){
  .product-list{
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product-list li{
    margin-bottom: 20px;
  }

  #footer {
    flex-direction: column;
  }

  .view-more{
    margin-top: 15px;
  }

  #products{
    margin-bottom: 100px;
  }
}