@charset "UTF-8";

/* 
Common
*/

.wrapper-top{
  width: 100%;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

.wrapper-about,
.wrapper-company{
  max-width: 600px;
}

.wrapper-details{
  max-width: 800px;
}

a{
  text-decoration: none;
  color: #333;
}

li{
  list-style-type: none;
}

/* 
Header
*/
header{
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
}

/* 
Products
*/
main{
  width: 100%;
}

#products{
  width: 100%;
}

#products ul{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}