@charset "UTF-8";

/* 
共通
*/
html{
    font-size: 100%;
}

body{
    color: #383e45;
    font-size: 14px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* 
ヘッダー
 */

.wrapper{
    max-width: 960px;
    margin: 100px auto;
    text-align: center;
    padding: 0 4%;
}

.wrapper h1{
    margin-bottom: 100px;
    font-size: 24px;
}

.header{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    height: 270px;
    margin: 0 auto;
    align-items: center;
}

.header-list{
    display: flex;
}

.header-list img{
    height: 20px;
}

.header-item a{
    color: #333;
    font-size: 14px;
    margin: 0 20px;
}

.header-item a:hover{
    color: #666;
}

.header-item-icon a:hover{
    opacity:0.5;
}

/* 
カバー
*/
.cover{
    width: 100%;
}

/* 
About
*/

#about li{
    text-align: left;
}

#about p{
    text-align: left;
    margin: 30px 0;
}

#about li:first-child{
    margin-bottom: 30px;
}

/* 
Works
*/
#works{
    margin: 0 auto;
}
#works ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0;
}

#works img{
    height: 150px;
    width: 100%;
}
